@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  padding: 2rem 0;
}

.weather-container {
  position: relative;
  width: 900px;
  background-color: #232931;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.weather-wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 1rem;
}

.weather-img {
  border-radius: 25px;
  background-image: url("./assets/clouds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.05) perspective(300px);
  position: relative;
}

.weather-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
  opacity: 0.5;
  z-index: -1;
  border-radius: 25px;
}

.default-info {
  padding: 1.5rem;
  text-align: center;
}

.default-day {
  font-size: 3rem;
}

.image {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
}

.degree {
  font-size: 3rem;
}

.weather-description {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.weather-temp {
  font-size: 4rem;
  font-weight: 800;
}

.weather-content {
  padding: 1.5rem;
}

.form {
  margin: 1.5rem 0;
  position: relative;
}

.search-field {
  width: 100%;
  color: #fff;
  outline: none;
  border: 1px solid #37474f;
  border-radius: .75rem;
  padding: 0.7rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding: 0.85rem 0.7rem;
  font-family: inherit;
  font-size: 0.8rem;
  outline: none;
  cursor: pointer;
  background-color: #5c6bc0;
  border: none;
  color: #fff;
}

.day-info-container {
  display: flex;
}

.day-info {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* Loading animation */
.loading-container {
  position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading {
  border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 950px) {
  .weather-container {
    max-width: 85%;
    justify-self: center;
  }
}

@media screen and (max-width: 750px) {
  .weather-container {
    max-width: 60%;
  }
}

@media screen and (max-width: 620px) {
  .weather-container {
    max-width: 50%;
  }

  .weather-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 620px) {
  .weather-container {
    max-width: 50%;
  }

  .weather-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .weather-container {
    max-width: 40%;
  }

  .weather-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 375px) {
  .weather-container {
    max-width: 35%;
  }

  .weather-wrapper {
    grid-template-columns: 1fr;
  }
}